body::-webkit-scrollbar {
    width: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}z
header {
    background-color: white;
    height: 89px;
    width: 100%;
}

.Logo {
    z-index: 2;
    margin-left: 208px;
    position: absolute;
    margin-top: 8px;
}

.navigate {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 615px;
    height: 17px;
    margin-left: 404px;
    margin-top: 44px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.22px;
    font-family: "Poppins", sans-serif;
    position: absolute;
}

.Phone_img {
    width: 16px;
    height: 16px;
    margin-left: 959px;
    margin-top: 30px;
    position: absolute;
    display: flex;
}

.Phone_number {
    height: 20px;
    margin-left: 980px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    line-height: 20px;
    color: #1B1B1B;
}

.time {
    width: 92px;
    height: 15px;
    margin-left: 1025px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    color: #B7B7B7;
}

.all_price {
    position: absolute;
    width: 45px;
    height: 17px;
    left: 16px;
    top: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1B1B1B;
}

.cart {
    position: absolute;
    width: 134px;
    height: 48px;
    left: 1180px;
    top: 20px;
    height: 48px !important;
    background: #F5F5F5;
    border-radius: 6px;
}

.line {
    position: absolute;
    width: 1px;
    height: 24px;
    left: 77px;
    top: 12px;
    background: #FFFFFF;
    border-radius: 4px;
}

.ordered {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 106px;
    top: 10px;
    z-index: 1999;
    background: #E07153;
    border-radius: 16px;
}

.ordered_bg {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 1;
    border-radius: 30px;
    margin-top: -3.5px;
    margin-left: 3.3px;
    color: white;
}

.Cart {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 94px;
    top: 12px;
}

.user {
    height: 48px;
    width: 48px;
    background-color: #F5F5F5;
    border-radius: 6px;
    margin-left: 1340px;
    position: absolute;
    margin-top: 20px;
    align-items: center;
}

.user_img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 12px;
}

.bottom {
    background-color: #F5F5F5;
    height: 83px;
    margin-top: 89px;
    position: absolute;
    width: 1536px;
    z-index: 1;   
}

.bottom_category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 52px;
    position: absolute;
    width: 1036px;
    height: 60px;
    z-index: 100;
    left: 450px;
    top: 12px;
}

.food {
    color: #1B1B1B;
    font-family: "Poppins", sans-serif;
} 

.btn404 {
    height: 52px;
    width: 250px;
    cursor: pointer;
    background-color: #E07153; 
    background-image: url("../Images/bg_btn.png");
}

.podrobnee {
    background-image: url("../Images/btn.png");
}